*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("Minecraft.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;
    font-family: 'Montserrat', sans-serif;
    user-select: none;

    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(0,0,0,0.20); 
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);

    border: 2px solid #00bfff;
    box-shadow: 0 0 20px #00bfff;
}

.title {
    font-size: calc(10px + 3vw);
    letter-spacing: 4px;
    text-shadow: 0 0 20px #00bfff, 0 0 40px #ff0055;
}

.title p {
    font-size: calc(10px + 1vw);
    text-shadow: 0 0 10px #00bfff;
}

.countdown{
    display: flex;
    width: 70vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown div{
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid #00bfff;
    border-radius: 10px;
    background-color: rgba(0,0,40,0.4);
    box-shadow: 0 0 15px #00bfff;
}

.countdown h1{
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 20px #00bfff, 0 0 40px #ff0055;
}

.button{
    background: linear-gradient(90deg, #ff0055, #00bfff);
    color: black;
    padding: 12px 30px;
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    transition: .3s;
    border-radius: 8px;
    box-shadow: 0 0 20px #ff0055;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 30px #ff0055, 0 0 50px #00bfff;
}
